{% extends "admin/layout.njk" %}

{% block content %}
  <div class="actions">
    <h2>Chef: {{chef.name}}</h2>
    <a href="{{chef.id}}/edit">Editar Chef</a>
  </div>

  <div class="chef">
    <img class="chef-image" src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
    <h1>{{chef.name}}</h1>
    <p>{{chef.total_recipes}} receitas</p>
  </div>

    <h2>Receitas</h2>
    <section class="cards recipes admin">
      {% for recipe in recipes %}
        <div class="card">
          <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
          <div class="info">
            <strong>{{recipe.title}}</strong>
            <p>{{chef.name}}</p>
            <a href="/admin/recipes/{{recipe.id}}">Viualizar</a>
          </div>
        </div>
      {% endfor %}
    </section>
  
{% endblock content %}