{% extends "admin/layout.njk" %}

{% block content %}
  <h2>Gerenciar receitas</h2>

  <section class="cards">
    {% for recipe in recipes %}
      <div class="card">
        <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
        <div class="card__info">
          <p class="tittle-recipe">{{recipe.title}}</p>
          <p class="author-recipe">{{recipe.author}}</p>
          <a href="/admin/recipes/{{recipe.id}}">Viualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}