<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/admin.css">
  </head>
  <body>
    <header>
      <div class="wrapper">
        <img class="logo" src="/assets/adminLogo.png" alt="Logo">
      </div>
    </header>

    <div class="wrapper">
      {% block content %}{% endblock content %}
    </div>

    <script src="/scripts.js"></script>
  </body>
</html>