<section class="cards recipes">
  {% for recipe in recipes %}
    <div class="card">
      <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
      <strong>{{recipe.title}}</strong>
      <p>por {{recipe.author}}</p>
    </div>
  {% endfor %} 
</section>