{% extends "foodfy/layout.njk" %}

{% block content %}
  <header id="main-header">
    <nav>
      <ul>
        <li><img class="logo" src="/assets/logo.png" alt=""> </li>
        <li><a href="/foodfy/about">Sobre</a> </li>
        <li><a href="/foodfy/recipes">Receitas</a></li>
        <li><a href="/foodfy/chefs">Chefs</a></li>
        <li><a href="/admin/recipes">Admin</a></li>
      </ul>
    </nav>
  </header>

  <section class="cards chefs">
  {% for chef in chefs %}
    <div class="card">
      <img id="{{chef.id}}" class="image-chef" src="{{chef.avatar_url}}" alt="">
      <div class="info">
        <strong>{{chef.name}}</strong>
        <p>{{chef.total_recipes}} receitas</p>
      </div>
    </div>
  {% endfor %}
</section>
{% endblock content %}