{% extends "foodfy/layout.njk" %}


{% block content %}
  <header id="main-header">
    <nav>
      <ul>
        <li><img class="logo" src="/assets/logo.png" alt=""></li>
        <li><a href="/foodfy/about">Sobre</a></li>
        <li><a href="/foodfy/recipes">Receitas</a></li>
        <li><a href="/foodfy/chefs">Chefs</a></li>
        <li><a href="/admin/recipes">Admin</a></li>
      </ul>
    </nav>
    {%include "foodfy/filter.njk"%}
  </header>
  <div id="hero">
    <div class="description">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
      </p>
    </div>
    <img src="/assets/chef.png" alt="Chef">
  </div>

  <h2>Mais acessadas</h2>

  {%include "foodfy/cards-recipes.njk"%}
{% endblock content %}