<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock content %}
    </div>

    <footer>Todos direitos reservados, receitas Foodfy.</footer>

    <script src="/scripts.js"></script>
  </body>
</html>