{% extends "foodfy/layout.njk" %}

{% block content %}
  <header id="main-header">
    <nav>
      <ul>
        <li><img class="logo" src="/assets/logo.png" alt=""> </li>
        <li><a href="/foodfy/about">Sobre</a> </li>
        <li><a href="/foodfy/recipes">Receitas</a></li>
        <li><a href="/foodfy/chefs">Chefs</a></li>
        <li><a href="/admin/recipes">Admin</a></li>
      </ul>
    </nav>
    {%include "foodfy/filter.njk"%}
  </header>

  <main>
    {%include "foodfy/cards-recipes.njk"%}
  </main>
{% endblock content %}