{% extends "foodfy/layout.njk" %}

{% block content %}
{%include "foodfy/filter.njk"%}

  <main>
    <h2>Buscando por "{{filter}}"</h2>
    <section class="cards recipes">
      {% for recipe in recipes %}
        <div class="card">
          <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
          <p class="tittle-recipe">{{recipe.title}}</p>
          <p class="author-recipe">por {{recipe.author}}</p>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock content %}