{% extends "foodfy/layout.njk" %}

{% block content %}
  <main>
    <section class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
          <p class="tittle-recipe">{{recipe.title}}</p>
          <p class="author-recipe">{{recipe.author}}</p>
        </div>
      {% endfor %}

      {% for recipe in recipes %}
        <div class="card" id="{{recipe.id}}">
          <img class="image-recipe" src="{{recipe.image}}" alt="">
          <p class="tittle-recipe">{{recipe.title}}</p>
          <p class="author-recipe">{{recipe.author}}</p>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock content %}