<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles/admin.css">
  </head>
  <body>
    <header>
      <div class="container">
        <img class="logo" src="/assets/adminLogo.png" alt="Logo">
        <nav>
          <a href="/admin/recipes">Receitas</a>
          <a href="/admin/chefs">Chefs</a>
        </nav>
      </div>
    </header>

    <div class="wrapper">
      {% block content %}{% endblock content %}
    </div>

    <script src="/scripts.js"></script>
  </body>
</html>