{% extends "admin/layout.njk" %}

{% block content %}
  <div class="actions-recipe">
    <h2>Criando chef</h2>
    <div class="form-buttons">
      <button form="save-chef" type="submit">Salvar chef</button>
    </div>
  </div>

  <form id="save-chef" method="POST" action="/admin/chefs">
    <h4>Nome</h4>
    <input type="text" name="name">

    <h4>Avatar</h4>
    <input type="url" name="avatar_url">
  </form>
{% endblock content %}