{% extends "admin/layout.njk" %}

{% block content %}
  <div class="actions-recipe">
    <h2>Gerenciar chefs</h2>
    <a href="/admin/chefs/create">Novo +</a>
  </div>

  <section class="cards chefs">
    {% for chef in chefs %}
      <div class="card chef">
        <img class="image-chef" id="{{chef.id}}" src="{{chef.avatar_url}}" alt="">
        <div class="card__info">
          <p class="name-chef">{{chef.name}}</p>
          <a href="/admin/chefs/{{chef.id}}">Viualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}