h2 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  margin-bottom: 30px;
}

/* Header */
header#admin-header {
  height: 80px;
  background-color: #111111;
  margin-bottom: 50px;
}

header#admin-header .content {
  display: flex;
  align-items: center;
  height: 100%;
}

header#admin-header .content nav {
  display: flex;
  align-items: center;
  list-style: none;
}

header#admin-header .content nav img {
  margin-right: 50px;
}

header#admin-header .content nav a {
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
}

header#admin-header .content nav a:first-child {
  margin-left: 0;
}

header#admin-header .content nav a.active {
  color: #FFFFFF;
}

.card {
  display: flex;
  gap: 20px;
}

.card a {
  font-size: 14px;
  color: #6558C3;
  text-decoration: none;
  font-weight: bold;
}

/* Cards recipes */
.cards.recipes.admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cards.recipes.admin .card img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
  cursor: pointer;
}

.cards.recipes.admin .card .info strong {
  font-size: 18px;
}

.cards.recipes.admin .card .info p {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* cards chefs */
.cards.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
} 

.cards.chefs .card {
  display: flex;
  align-items: center;
}

.cards.chefs .card img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.cards.chefs .card .info strong {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

/* Chef */
.chef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 15px;
}

.chef h1 {
  font-size: 36px;
  color: #111111;
  margin: 30px 0 4px;
}

.chef p {
  font-size: 20px;
  color: #777777;
  margin-bottom: 50px;
}

/* Recipe */

.recipe-container {
  margin-top: 20px;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-header img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
}

.recipe-header h1 {
  margin-top: 50px;
  font-size: 36px;
}

.recipe-header p {
  font-size: 20px;
  color: #777777;
  margin-top: 5px;
}

.recipe-content {
  margin-top: 50px;
}

.recipe-content .topic {
  margin-bottom: 50px;
}

.topic-header h2 {
  font-size: 24px;
}

.recipe-content .topic-header p {
  margin-left: 8px;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.recipe-content .topic-content ul {
  list-style: none;
}

.recipe-content .topic-content ul li {
  position: relative;
  padding-left: 15px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.recipe-content .topic-content ul li::before {
  content: '';
  height: 1px;
  width: 5px;
  background: #444444;
  position: absolute;
  left: 0;
  top: 13px;
  margin-right: 5px;
}

.recipe-content .topic-content p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="url"],
form select,
form textarea {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  color: #111111;
  margin-bottom: 10px;
  width: 100%;
}

form .item {
  margin-bottom: 30px;
}

form .item h4 {
  margin-bottom: 10px;
}

form#save-recipe button[type=button] {
  font-size: 16px;
  font-weight: bold;
  color: #6558C3;
  width: fit-content;
  background: none;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}

form#save-recipe select {
  margin: 0;
}

form#save-recipe textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  margin: 0;
}

/* image avatar 

form .item #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: fit-content;
}

form .item #photos-upload p {
  padding: 9px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #6558C3;
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}
*/

form .item #photos-upload {
  width: 149px;
  height: 149px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3.5px;

  position: relative;
}

form .item #photos-upload::after {
  content: "+";
  color: #777777;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;

}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

form .item .flex {
  display: flex;
  width: 100%;
  margin: 8px 0;
}

form .item #photos-preview {
  display: flex;
}

form .item #photos-preview .photo img {
  width: 149px;
  height: 149px;

  border: 1px solid #DDDDDD;
  border-radius: 3.5px;

  margin-left: 10px;

  object-fit: cover;

}
#photos-preview .photo {
  position: relative;
}
#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);
  color: red;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 300%;
  cursor: pointer;
  
  transition: opacity 200ms;
  
  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}