@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 20px;
}

/* input, textarea, select {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #111111;
  margin-bottom: 10px;
} */

textarea {
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #111111;
}

.cards {
  margin-top: 20px;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

header .logo {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pagination span {
  margin-left:  5px;
}

.pagination a {
  color: #999999;
  font-size: 18px;
  padding: 5px 10px;
  margin-left: 5px;

  position: relative;
}

.pagination a.active {
  color: #6558C3;
  font-weight: bold;
}

.pagination a:first-child {
  margin-left: 0;
}

.pagination a:hover {
  color: #6558C3;
}

.pagination a:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #6558C3;
  position: absolute;
}