/* Header */
header#main-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header nav {
  display: flex;
  align-items: center;
  list-style: none;
}

header#main-header nav img {
  margin-right: 100px;
}

header#main-header nav a {
  font-size: 16px;
  color: #111111;
  margin-left: 30px;
}

header#main-header nav a:first-child {
  margin-left: 0;
}

header#main-header form {
  display: flex;
}

header#main-header form input {
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 14px;
}

header#main-header form button {
  padding: 10px 20px;
  background-color: #6558C3;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.active {
  font-weight: bold;
}

/* Hero */

#hero {
  background: #FBDFDB;
  border-radius: 30px;
  height: 366px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#hero .description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 60px;
}

#hero .description h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

#hero .description p {
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  opacity: 0.7;
  max-width: 316px;
}

#hero img {
  padding: 66px 100px 0 0;
}

/* Cards  recipes */

.cards.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}

.cards.recipes .card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
}

.cards.recipes .card strong {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #111111;
  margin-top: 20px;
}

.cards.recipes .card p {
  margin-top: 5px;
  font-size: 14px;
  color: #777777;
}

/* ABOUT */
main .text {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

main .text p {
  margin-bottom: 30px;
}

main h3 {
  font-size: 20px;
  color: #111111;
  margin-bottom: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 100%;
  font-size: 14px;
  color: #999999;
  text-align: center;
  background: #EEEEEE;
  margin-top: 50px;
}

/* Recipe */
.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-header img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
}

.recipe-header h1 {
  margin-top: 50px;
  font-size: 36px;
}

.recipe-header p {
  font-size: 20px;
  color: #777777;
  margin-top: 5px;
}

.recipe-content {
  margin-top: 50px;
}

.recipe-content .topic {
  margin-bottom: 50px;
}

.recipe-content .topic-header {
  display: flex;
  align-items: baseline;
}

.topic-header h2 {
  font-size: 24px;
}

.recipe-content .topic-header p {
  margin-left: 8px;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.recipe-content .topic-content {
  visibility: visible;
}

.recipe-content .topic-content.hide {
  display: none;
}

.recipe-content .topic-content ul {
  list-style: none;
}

.recipe-content .topic-content ul li {
  position: relative;
  padding-left: 15px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.recipe-content .topic-content ul li::before {
  content: '';
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 0;
  top: 13px;
  margin-right: 5px;
}

.recipe-content .topic-content p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* cards chefs */
.cards.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
} 

.cards.chefs .card {
  display: flex;
  align-items: center;
}

.cards.chefs .card img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.cards.chefs .card .info {
  margin-left: 20px;
}

.cards.chefs .card .info strong {
  font-weight: normal;
  font-size: 18px;
}

.cards.chefs .card .info p {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}