{% extends "admin/layout.njk" %}

{% block content %}
  <div class="actions">
    <h2>Editando receita</h2>
    <div class="form-buttons">
      <button form="delete-recipe" type="submit">Deletar</button>
      <button form="save-recipe" type="submit">Salvar receita</button>
    </div>
  </div>

  <form id="save-recipe" method="POST" action="/admin/recipes?_method=PUT" >
    <input type="hidden" name="id" value="{{recipe.id}}">

    <div class="item">
      <h4>Imagem da receita</h4>
      <input type="url" name="image" value="{{recipe.image}}" placeholder="http://">
    </div>

    <div class="item">
      <h4>Título da receita</h4>
      <input type="text" name="title" value="{{recipe.title}}">
    </div>

    <div class="item">
      <h4>Chef</h4>
      <select name="chef">
        {% for chef in chefOptions %}
          <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {%endif%}>
            {{chef.name}}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="item">
      <h4>Ingredientes</h4>
      <div id="ingredients">
        {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Ingredient" />
        </div>
        {% endfor %}
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <h4>Modo de preparo</h4>
        <div id="preparations">
          {% for preparation in recipe.preparation %}
          <div class="preparation">
            <input type="text" name="preparation[]" value="{{preparation}}" placeholder="Preparation" />
          </div>
          {% endfor %}
        </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>
    </div>

    <div class="item">
      <h4>Informações adicionais</h4>
      <textarea name="information" rows="10">{{recipe.information}}</textarea>
    </div>

  </form>

  <form id="delete-recipe" method="POST" action="/admin/recipes?_method=DELETE">
    <input type="hidden" name="id" value="{{recipe.id}}">
  </form>
{% endblock content %}