{% extends "admin/layout.njk" %}

{% block content %}
  <div class="actions">
    <h2>Gerenciar receitas</h2>
    <a href="/admin/recipes/create">Novo +</a>
  </div>

  <section class="cards recipes admin">
    {% for recipe in recipes %}
      <div class="card">
        <img id="{{recipe.id}}" class="image-recipe" src="{{recipe.image}}" alt="">
        <div class="info">
          <strong>{{recipe.title}}</strong>
          <p>por {{recipe.author}}</p>
          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}